
		div {
			background-color: white;
		}

		p {
			color: blue;
			
		}

		ol {
			list-style-type: decimal;
			font-size: 16pt;
			font-family: Courier;
			
		}

		ol li {
			font-size: 16pt;
			font-family: Courier;
		}
		
		ul {
			
			font-size: 16pt;
			font-family: Arial;
			
		}

		ol li {
			font-size: 16pt;
			font-family: Arial;
		}

		div.column {
			width: 50%;
			float: left;
		}

		html, body {
			padding: 0;
			margin: 0;
			background: lightblue;
		}
		
		div {
			padding: 1em;
			margin: 2em;
			border: 8px solid blue;



		
	